*{margin: 0; padding: 0;}
.khoianh img {
    width: 90%;
}

.monanpro{
    border-left:6px solid #ffc61e;
    width:190px;
    height: 40px;
    color:  #ffc61e;
    font-family: 'Dancing Script', cursive;


}
.thucan{
    color:red;
    font-family: 'Dancing Script', cursive;

    color: #ffc61e;

}
.sukiento{
    margin-top: 40px;
}
iframe{
    width:100%;
    height:150px;
}
.mangxh {
    display: grid;
    margin-left: 20px;
  } 
.menutop a.nav-link{
    font-size: 15px;
    padding-top: 35px;
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: bold
}
.anh{
        margin-top: 40px;
        width: 100%;
        height: 90%;
    }
.anhmon {
        width: 80px;
        height: 80px;
        margin: 10px;
    }
.zoom {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
.zoom img{
        position: absolute;
        width: 100%;
        height: 100%;
} 
.zoom:hover img{
        transform:scale(1.5);
        transition:1.3s;
        width:100%;
        height: 100%;
 }   
.monanpro .tenmonan h3
{
    text-align:center;
}
.monan {
    width: 95%;
}
.bo{
    position: relative;
    width:100%;
    height: 150px;
    overflow: hidden;

}
.bo img{
    position: absolute;
    width:100%;
    height: 150px;
}
.bo:hover img{
     transform:scale(1.5);
     transition:1.3s;
     width:100%;
     height: 150px;
}
 .duoi {
    color: #777;
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
    padding-top: 9px;
}
.tagnew {
    position: absolute;
    top: 0;
    background: #feb518;
    font-size: 11px;
    font-family: 'Roboto Slab', serif;
    padding: 2px 7px;
}

b.ten {
    background: white;
    transform: translateY(3px);
    display: inline-block;
    padding-right: 7px;
}

.tenmon .tren span {
    display: inline-block;
    background: #ffffff;
    transform: translateY(3px);
    padding-left: 5px;
}

.tenmon .tren span {}

.tenmon .tren {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: #333333;
    border-bottom: 2px dotted #999999;
}

.khoilistlink.my-2 {
    border-bottom: 1px solid #f0f0f0;
}

.khoilistlink ul.fontroboto {color: #c2c3c5;margin-left: 18px;}

.khoilistlink ul li a {
    color: #777;
    line-height: 44px;
    font-size: 20px;
}

.khoilistlink h3.fontoswarld {
    font-size: 28px;
    line-height: 50px;
    color: #333;
}

button.iconsearch {
    position: absolute;
    top: 7px;
    right: 12px;
    background: none;
    border: none;
    color: #7f7f7f;
    cursor: pointer;
}

.phansearch {
    position: relative;
}
/*HET CSS CHO NEWS*/
nav.navbar.navbar-light.bg-faded {
    background-color: white;
    height: 100px;
    line-height: 75px;
}
ul.nav.navbar-nav.float-sm-right .nav-link{top: 20px;}
nav.navbar.navbar-light.bg-faded a.dropdown-item {
    height: 30px;
    line-height: 30px;
}
.navbar-light a.navbar-brand:hover {
    color: #ffc61e;
}
.navbar-light a.navbar-brand {
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    color: #ffc61e;
    font-weight: bold;
    margin-left: 80px;
}


.khungxanh{
    background-color:#373a3c;
    height:30px;
    width:100%;
    color:white;

}
.khungxanh .gioithieu {   
    padding:7px 0px 15px 15px;
    font-size:13px;
}
.gt {
    margin-top: 70px;
}
.khoigt {
    text-align: center;
}
.khoibu{
    height: 605px;
    width: 335px;
    position: relative;
    overflow:hidden;
    transition: 0.9s;

}
.khoizom img{
    height: 605px;
    width: 335px;
    position: absolute;
}
.khoimo {
    height: 605px;
    width: 335px;
    background-color: #d8737324;
    position: absolute;
}
.khoichu {
    height: 605px;
    width: 335px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
}

.khoichu img {position:  absolute;top: 228px;left: 50px;}

.khoichu p {
    position:  absolute;
    text-align: center;
    width: 335px;
    height:  605px;
    line-height: 605px;
    font-size: 28px;
    text-transform:  uppercase;
}

.khoibu:hover .khoizom img{
    transform: scale(1.3);
    transition: 0.9s;
    
}
.khoibu:hover .khoichu{
    color: #ED8252;

}


i.fa.fa-envelope {color: #fb0000c7;}

i.fa.fa-phone-square {
    color: #0000ff96;
}

i.fa.fa-twitter {
    color: #3d3dec;
}

i.fa.fa-youtube-play {
    color: red;
}

i.fa.fa-facebook-official {
    color: blue;
}

.footer img {
    width: 23px;
}
.footer{
    margin-top: 80px !important;
    height: 214px;
    padding-top: 15px;
    background-color: #373a3c;
    z-index: 100;
    color: white;
}
.carousel-item img{
    width: 750px;

}

i.fa.fa-users {
    font-size: 50px;
}
@media (max-width:1200px) {
    .khoibu ,.khoimo ,.khoichu{
        width: 95%;
    }
    .khoichu img {
        top: 38%;
        left: 8%;
    }
    .khoichu p {
        width: 95%;
    }
}
@media (max-width:768px) {
    .khoichu p {
        width: 100%;
        top: -9%;
        font-size: 25px;
    }
    .khoibu, .khoimo{
        width: 100%;
        height: 470px;
   }
    .khoichu img {
        top: 34%;
        left: 8%;
        width: 100%;
    }
}


@media (max-width:576px) {
    *{ }
    .khoifooter {
        margin: auto;
    }
    .khoifooter h2{
        font-size: 20px;
        margin-top: 20px;
    }
     a.facebook,a.youtub  {
        margin: 0 30% 4% 8%;
    }
    .mangxh {
    display: block;
    margin-left: 20px;
}

    
    .anh {
        height: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer{
        height:620px;
    }
    iframe{
        width: 100%;
        height: 290px;
    }
    .nav a.nav-link {
        text-align: center;
        padding: 13px 0;
        margin: 0;
        display: block;
        border-bottom: 1px solid gray;
        font-size: 13px;
    }
    .navbar-light a.navbar-brand
    {
        margin-left: 12px
    }

    .khoibu{
        height: 605px;
        width: 335px;
        position: relative;
        overflow:hidden;
        transition: 0.9s;

    }
    .khoizom img{
        height: 605px;
        width: 335px;
        position: absolute;
    }
    .khoimo {
        height: 605px;
        width: 335px;
        background-color: #d8737324;
        position: absolute;
    }
    .khoichu {
        height: 605px;
        width: 335px;
        position: absolute;
        top: 0px;
        left: 0px;
        color: white;
    }

    .khoichu img {
        position:  absolute;top: 228px;left: 50px;
    }

    .khoichu p {
        position:  absolute;
        text-align: center;
        width: 335px;
        height:  605px;
        line-height: 605px;
        font-size: 28px;
        text-transform:  uppercase;
    }

    .khoibu:hover .khoizom img{
        transform: scale(1.3);
        transition: 0.9s;

    }
    .khoibu:hover .khoichu{
        color: #ED8252;

    }
    .khoibu {
        margin: auto;
        margin-top: 20px;
    }
    .khoichu img {
        width: 77%;
    }
    .khoichu p {
        top: auto;

    }
    .monan {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
    
}

/*HET GIAO DIEN DI DONG */

